
*{
    box-sizing: border-box;
}

li input:checked~ .input{
    text-decoration: line-through black;
}


li{
    align-items: center;
      border: 5px solid teal;
      margin-top: 10px;
      justify-content: center;
      display: flex;
      border-radius: 7px;
     
  }

.btn{
    margin-left: 10px;
    margin-bottom: -5px;
    color: black;
    background-color: teal;
    border-radius: 12px;
    padding: 7px;
}


.libtn{
    margin-right: 20px;
    color: black;
    background-color: teal;
    border-radius: 10px;
}

p{
    padding-left: 20px;
    flex-grow: 1;
}

.completed{
    text-decoration: line-through black;
}


.input{
padding: 7px;
}